/* Los estilos se aplican a todo el documento */
body {
    background: linear-gradient(135deg, rgb(56, 56, 206), rgb(255, 112, 112));
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(99, 0, 0, 0.5)), url('../asset');
}

.about {
    background: linear-gradient(color yellow);
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-style: solid;
}

.social-icon {
    width: 48px;
}