/* Los estilos se aplican a todo el documento */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background: linear-gradient(135deg, rgb(255, 232, 254));
    color: #b46395;
    
}

.box {
    background: rgb(255, 255, 255);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 40px;
    border: 2px solid #ffb3e2;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgb(0,0,0,0,0.5);
    
}

.social-icon {
    width: 48px;
}

.perfil {
    width: 200px;
}
img {
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 10px;
    color: rgb(158, 70, 121);
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #ffffff;
}
header {
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid #ffffff;
    
}
header h1 {

    font-size: 50px;
    letter-spacing: 2px;
    font-weight: bold;
    color: #9b3972;
    font-family: "PT Serif", serif;
    
}

.redess {
display: flex;
flex-direction: row;
gap: 30px;
margin-top: 10px;
}